@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: inherit;
}

/* canvas */
#webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

/* typography */
main {
    color: #f8f5f5;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

h1,
h2,
h3 {
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 9vw;
}

h2 {
    font-size: 7.5vw;
}

h3 {
    font-size: 6vw;
}

/* page layout */
section {
    width: 84vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

.container {
    margin: auto;
    width: 85vw;
}

/* content layout */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center div {
    text-align: center;
}

.left {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left div {
    text-align: left;
}

.right {
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right div {
    text-align: right;
}

/* nav */
nav {
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 101;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    list-style: none;
}

.links li {
    padding-left: 1.5rem;
}

/* header */
#main div p {
    margin-top: 1.35rem;
    letter-spacing: .4rem;
}

/* footer */
footer {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    z-index: 10;
}

footer small {
    letter-spacing: .25rem;
}